
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&display=swap" rel="stylesheet">

    <!-- Fonts Awesome -->
    <script src="https://kit.fontawesome.com/f743791ba4.js" crossorigin="anonymous"></script>

    <!-- Link to local file - Switch to link above on production ? -->
    <!-- <link rel="stylesheet" href="fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="fontawesome/css/brands.css">
    <link rel="stylesheet" href="fontawesome/css/solid.css"> -->


    <title>Smart Lender</title>

</head>

<body>

<div class="page-container">

    <header class="header">
        <img class="logo-image" src="static/images/loan.png" alt="Logo Image">
    </header>


    <main class="main">

        <div class="image-container">

            <img class="illustration" src="static/images/loanhouse.png" alt="Illustration MockUp Image">

        </div>

        <div class="text-container">

            <h1 class="heading">SMART LENDER</h1>
            <h3>Applicant Credibility Prediction For Loan Approval</h3>

            <p class="paragraph">The prediction of credit defaulters is one of the difficult
                tasks for any bank. Banks may reduce their loss by reducing their non-profit assets, so that recovery of approved loans can take place without any loss. Machine Learning techniques are very crucial and useful in the prediction of these types of data.</p>
            <form action="/loan" method="post">
<!--                <a class="button" href="register">Register</a>-->
                <a class="button" href="loan">Dive in</a>
            </form>


        </div>

    </main>

</div> <!-- Closing page-container -->

</body>

</html>
